.video-controls-wp {
  position: relative;
}

.video-controls {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* 视频播放/暂停按钮开始 */
.play-pause-btn {
  cursor: pointer;
  display: none;
}

.controls-bottom-wp {
  padding: 0 24px 16px;
}

.controls-top-play-time-wp {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.paly-time {
  text-align: right;
}

.video-play-progress {
  width: 100%;
  transition: all 0.1s ease;
}

#progress-wp {
  width: 100%;
  height: 8px;
  font-size: 8px;
  background-color: #eee;
  position: relative;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 4px;
  margin: 12px 0;
}

#progress-finished {
  width: 0;
  height: 100%;
  background-color: #00a1d6;
}

#progress-drag-dot {
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  cursor: pointer;
  background-color: blue;
  position: absolute;
  left: -0.5em;
  top: -0.15em;
}

.controls-bottom-setting-wp {
  display: flex;
  align-items: center;
}

.play-times-speed-btn {
  cursor: pointer;
  width: 50px;
}

.play-times-speed-select-wp {
  display: none;
  background-color: black;
  font-size: 18px;
  padding: 12px 0;
  border-radius: 8px;
  text-align: center;
  position: absolute;
  width: 80px;
  bottom: 28px;
  left: -47%;
}

.play-times-speed-select-wp li {
  cursor: pointer;
  height: 36px;
  line-height: 2;
  box-sizing: content-box;
}

.speed-acive {
  background-color: var(--theme-color);
}

.play-times-speed-select-wp li:not(.speed-acive):hover {
  color: var(--theme-color);
}

.play-times-speed-btn:hover + .play-times-speed-select-wp {
  display: block;
}
