.activelayoutMode {
	border: 4px solid var(--theme-color);
	border-radius: 8px;
}

.systemNavTitle::before {
	content: "1";
	display: inline-block;
	width: 4px;
	color: transparent;
	background-color: var(--theme-color);
	margin: 12px 4px 12px 0;
}

.filterMenuWp {
	background-color: #fff2e5;
	margin-bottom: 1.75rem;
	padding: 0.5rem;
	border-radius: 8px;
}

.filterMenuItem {
	cursor: pointer;
	color: var(--theme-color);
	padding: 4px 0 4px 4px;
	width: calc(100% - 26px);
	border-radius: 8px;
}

.filterMenuItem:hover {
	background-color: var(--theme-color);
	color: white;
}
