.businessDataWP {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--default-gap);
}

.echartsWp {
  margin: var(--default-gap) 0;
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: var(--default-gap);
}

.payRelationWp {
  margin: var(--default-gap) 0;
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: var(--default-gap);
}
