@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  word-break: break-all;
  font-size: 16px;
  border-radius: 0;
}

/* 默认的浅色主题样式 */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --default-gap: 16px;
  --theme-color: #ff5500;
}

/* 暗色主题样式 */
.dark {
  --background-color: #000000;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #d3d2d2;
  border-radius: 5px;
}

.container {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 24px 16px;
  border-radius: 8px;
}
