.video-controls-wp {
  position: relative;
}

.video-wp {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.video-controls {
  /* background-color: rgba(255, 120, 125, 0.6); */
  position: relative;
  color: #fff;
  font-size: 16px;
}

/* 视频播放/暂停按钮开始 */
.play-pause-btn {
  cursor: pointer;
  display: none;
}
/* 视频播放/暂停按钮结束 */
.controls-bottom-wp {
  position: relative;
  bottom: 0;
  left: 0;
}

.progress-wp {
  padding: 0 16px;
  display: grid;
  grid-template-columns: 50px 1fr 120px;
}

.paly-time {
  text-align: right;
}

.video-play-progress {
  width: 100%;
  transition: all 0.1s ease;
}

